%section.container
  .row
    .col-sm-12
      .ng-cloak(ng-init='init()')
        %h1 {{ project.name }}

        %hr
        #keyword-list
          %ul.list-group
            %li.list-group-item(ng-repeat='keyword in keywords')
              .row
                .col-sm-5.col-lg-4
                  .actions.pull-left
                    %button.btn.btn-default(ng-click='delete(keyword)')
                      .glyphicon.glyphicon-trash
                  %a.btn.btn-primary.disabled {{ keyword.name }}
                  .clearfix

                .col-sm-7.col-lg-8
                  %ul.positions
                    %li(ng-repeat='craw_result in keyword.craw_results')
                      .index(tooltip='{{craw_result.url || "no URL"}}')
                        {{ craw_result.position || craw_result.status }}
                      .date
                        {{ craw_result.created_at | date:'short' }}

        %hr

        .row
          .col-sm-4.col-sm-offset-8
            %form.form-inline(ng-submit='create()')
              .form-group
                %label.sr-only Keyword
                .input-group
                  %input.form-control(type='text' ng-model='keyword.name' required)
                  %span.input-group-btn
                    %input.btn.btn-default(type='submit' value='+')

